* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 180vh;
	width: 100vw;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
	background: #ecf0f3;
}
.login-div {
	width: 430px;
	height: 750px auto;
	padding: 60px 35px 35px 35px;
	border-radius: 40px;
	background: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.logo {
	background: url("img/logo.jpg");
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	background-size: 100%;
	box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}
.title {
	text-align: center;
	font-size: 28px;
	padding-top: 24px;
	letter-spacing: 0.5px;
}
.sub-title {
	text-align: center;
	font-size: 15px;
	padding-top: 7px;
	letter-spacing: 3px;
}
.fields {
	width: 100%;
	padding: 75px 5px 5px 5px;
}
.fields input {
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	color: #555;
	padding: 20px 10px 20px 5px;
}
.format {
	margin-bottom: 30px;
	border-radius: 25px;
	box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.fields .format i {
	height: 22px;
	margin: 0 0 -3px 25px;
	color: #aaa;
}

.format-a i {
	font-size: 20px;
}
.signin-button {
	outline: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-align: center;
	background: #24cfaa;
	box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
	transition: 0.5s;
}
.signin-button:hover {
	background: #2fdbb6;
}
.signin-button:active {
	background: #1da88a;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: none;
	background-image: none;
	width: 100%;
	padding-left: 10px;
	color: #aaa;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
.select i {
	margin-top: 15px;
	margin-left: 20px;
	color: #aaa;
}
select::-ms-expand {
	display: none;
}
.select {
	position: relative;
	display: flex;
	width: 100%;
	height: 3em;
	line-height: 3;
	box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
	border-radius: 25px;
	margin-bottom: 30px;
}
.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	color: #24cfaa;
	cursor: pointer;
	pointer-events: none;
	transition: .25s all ease;
}
.select:hover::after {
	color: orangered;
}
.Features {
	font-size: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
	color: #1da88a;
}
.format:nth-child(6) {
	display: flex;
	align-items: center;
	height: 50px;
}
.format-a {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.format-a label input[type="checkbox"] {
	cursor: pointer;
	width: 60px;
	height: 60px;
	opacity: 0;
	position: absolute;
}
.format-a label .icon-box {
	width: 60px;
	height: 60px;
	color: rgb(129, 129, 129);
	border-radius: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 8px #cbced1, -5px -5px 8px #ffffff;
}
.format-a label input[type="checkbox"]:checked ~ .icon-box {
	transition: 0.2s all linear;
	box-shadow: inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
	color: #24cfaa;
}
.rating .fas {
	margin-left: 13px;
	transition: 0.2s linear;
}
.rating {
	display: flex;
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
	margin-bottom: 30px;
}
.rating-n {
	font-size: 20px;
	margin-bottom: 15px;
	margin-left: 20px;
	color: #1eb494;
}

.rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}

.rating label:last-child {
	position: static;
}

.rating label:nth-child(1) {
	z-index: 5;
}

.rating label:nth-child(2) {
	z-index: 4;
}

.rating label:nth-child(3) {
	z-index: 3;
}

.rating label:nth-child(4) {
	z-index: 2;
}

.rating label:nth-child(5) {
	z-index: 1;
}

.rating label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rating label .fas {
	float: left;
	color: transparent;
}

.rating label:last-child .fas {
	color: #fff;
	text-shadow: 3px 3px 8px #cbced1, -3px -3px 8px #ffffff;
}

.rating:not(:hover) label input:checked ~ .fas,
.rating:hover label:hover input ~ .fas {
	color: #1eb494;
}

.rating label input:focus:not(:checked) ~ .fas:last-child {
	color: #000;
	text-shadow: 0 0 5px #1eb494;
}
